<div class="formbold-steps">
  <ul>
    <li
      class="formbold-step-menu1"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>1</span>
      <a [routerLink]="['/']">Enter Details</a>
    </li>
    <li
      class="formbold-step-menu2"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>2</span>
      <a [routerLink]="['/questions']">Enter Questions</a>
    </li>
    <li
      class="formbold-step-menu3"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>3</span>
      <a [routerLink]="['/output']">YAML Output</a>
    </li>
  </ul>
</div>
